.project-container {
    background-color: black;
    color: white;

    .project-container {
        padding: 60px 80px;

        .project-title {
            font-size: 42px;

        }

        .lumina {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            .lumina-img {
                height: 405px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            .lumina-content {
                .s-no {
                    font-size: 36px;
                }

                .lumina-title {
                    font-size: 28px;
                }

                .lumina-description {

                    font-size: 16px;
                    color: #71717A;
                }

            }
        }

        .booknook {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            .booknook-img {
                height: 405px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            .booknook-content {
                .s-no {
                    font-size: 36px;
                }

                .booknook-title {
                    font-size: 28px;

                }

                .booknook-description {

                    font-size: 16px;
                    color: #71717A;

                }
            }
        }

        .franky {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .franky-img {
                height: 405px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            .franky-content {

                .s-no {
                    font-size: 36px;
                }

                .franky-title {
                    font-size: 28px;
                }

                .franky-description {

                    font-size: 16px;
                    color: #71717A;

                }
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;

    }

}

@media screen and (max-width:768px) {

    .project-container {
        .project-container {
            padding: 20px 30px;

            .project-title {
                font-size: 32px;

            }

            .lumina {
                flex-direction: column !important;
                gap: 20px;

                .lumina-img {
                    height: 285px;
                    width: 100% !important;
                }

                .lumina-content {
                    width: 100% !important;

                    .s-no {
                        font-size: 28px;
                    }
                }
            }

            .booknook {
                flex-direction: column-reverse !important;
                gap: 20px;

                .booknook-img {
                    height: 285px;
                    width: 100% !important;
                }

                .booknook-content {
                    width: 100% !important;

                    .s-no {
                        font-size: 28px;
                    }
                }
            }

            .franky {
                flex-direction: column !important;
                gap: 20px;

                .franky-img {
                    height: 285px;
                    width: 100% !important;
                }

                .franky-content {
                    width: 100% !important;

                    .s-no {
                        font-size: 28px;
                    }
                }
            }
        }

    }
}

@media screen and (max-width:375px) {
    .project-container {
        .project-container {
            padding: 20px 20px;
        }
    }
}